<html>
    <head>
        <title>Match Viewer</title>
        <link rel="stylesheet" href="../viewer-home/styles.css">
    </head>
    <body>
        <script defer src="../viewer-home/script.js"></script>
        <h2>Welcome to match viewer</h2>
    </body>
</html>