<html>
    <head>
        <title>Match Viewer</title>
        <link rel="stylesheet" href="../viewer-match/styles.css">
    </head>
    <body>
        <script defer src="../viewer-match/script.js"></script>
        <h2>Match id: <%= matchId %></h2>
        <h3>Info:</h3>
        <p id="info"></p>
        <h3>Stats:</h3>
        <p id="stats"></p>
    </body>
</html>