@import url('https://fonts.googleapis.com/css?family=Play');

:root {
    --color-background: #141616;
    --color-background-secondary: #0A0C0C;
    /* background-color: #1f1f1f; */
    /* background-color: #161616; */
    --color-foreground: white;
    --color-accent: #FF5500;
    --color-text: #141616;
}

* {
    font-family: "Play";
}

body {
    background-color: var(--color-background);
}


img {
    pointer-events: none;
}

#input {
    /* border: 1px solid white; */
    box-shadow: 0 0 50px var(--color-background-secondary);
    /* border-radius: 10px; */
    background-color: var(--color-foreground);
    margin: 35vh auto 0 auto;
    width: fit-content;
    transform: translateY(-50%);
    padding: 30px;
}

#header {
    display: flex;
    justify-content: center;
    font-size: 32px;
}

#header-logo {
    width: 1em;
    margin-left: 10px;
}

#header-text {
    color: var(--color-text);
    font-size: 1em;
}

#input-users {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 15px;
}

@media (max-width: 600px) {
    #input-users {
        flex-direction: column;
    }
}

input:focus::placeholder {
    color: transparent;
}

input[type="text"] {
    width: 12em;
    text-align: center;
}

.user-block {
    margin: 30px;
    margin-bottom: 0;
    margin-top: 15px;
    width: fit-content;
    text-align: center;
    /* border: 2px solid red; */
}

.user-block > label {
    color: var(--color-text);
}

.user-input {
    border: 1px solid black;
    border-radius: 2px;
}

#input-game {
    margin-top: 15px;
    justify-content: center;
    text-align: center;
}

#input-submit {
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
}

#players {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 50%;
}