@import url('https://fonts.googleapis.com/css?family=Play');

:root {
    --color-background: #141616;
    --color-background-secondary: #0A0C0C;
    /* background-color: #1f1f1f; */
    /* background-color: #161616; */
    --color-foreground: white;
    --color-foreground-secondary: rgb(212, 212, 212);
    --color-accent: #FF5500;
    --color-text: #141616;
    --color-text-inverted: #141616;
}

* {
    font-family: "Play";
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    padding: 0;
    margin: 100px 0;
    font-size: 16px;
    /* overflow-x: hidden; */
}


img {
    pointer-events: none;
}

#input {
    /* border: 1px solid white; */
    box-shadow: 0 0 50px var(--color-background-secondary);
    border-radius: 2px;
    background-color: var(--color-foreground);
    margin: 0 auto 0 auto;

    width: fit-content;
    height: fit-content;
    padding: 30px;
}

#header {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    border-image: radial-gradient(rgb(150, 150, 150), var(--color-foreground)) 1;
}

#header-text {
    color: var(--color-text);
    font-size: 2em;
}

#header-logo {
    width: 2em;
    margin-left: 0.6em;
}

#input-users {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 9px;
}

@media (max-width: 600px) {
    #input-users {
        flex-direction: column;
    }
    .player-name {
        display: none;
    }
}

input:focus::placeholder {
    color: transparent;
}

input[type="text"] {
    width: 12em;
    text-align: center;
}

.user-block {
    margin: 30px;
    margin-bottom: 0;
    margin-top: 15px;
    width: fit-content;
    text-align: center;
    font-size: 1em;
    /* border: 2px solid red; */
}

.user-block > label {
    color: var(--color-text);
}

.user-input {
    border: 1px solid black;
    border-radius: 2px;
}

#input-game {
    margin-top: 15px;
    justify-content: center;
    text-align: center;
}

#input-submit {
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
}

#input-status {
    color: var(--color-foreground);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#players-div {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
    overflow-x: hidden;
}

#players {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 300px);
    grid-template-areas: "a b";
    gap: 30px;
    /* background-color: red; */
}

#player1 {
    grid-area: a;
    justify-self: end;
}

#player2 {
    grid-area: b;
    justify-self: start;
}

.player {
    display: flex;
}

.player-img {
    border-radius: 100%;
    width: 80px;
    border: 1px solid var(--color-background-secondary);
}

.player-url {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    box-shadow: 0 0 10px var(--color-background-secondary);
    opacity: 0;
    pointer-events: none;
}

.player-url:hover {
    scale: 1.05;
}

.player-name {
    color: var(--color-foreground);
    font-size: 1.2em;
    line-height: 80px;
    overflow: hidden;
    margin: 0px 10px;
}

.player-name span {
    display: inline-block;
    opacity: 0;
}

#player1-url { transform: translateX(-100px); }
#player1-img { rotate: -90deg; }
#player2-url { transform: translateX(100px); }
#player2-img { rotate: 90deg; }
#player1-name { transform: translateX(60px); }
#player2-name { transform: translateX(-60px); }
#player1-name-div { transform: translateX(-100px); }
#player2-name-div { transform: translateX(100px); }

.player-url { transition: transform 2s, opacity 2s, scale 300ms; }
.player-img { transition: rotate 2s; }
.player-name span { transition: transform 2s, opacity 2s; }
.player-name { transition: transform 2s; }

.player.show .player-url, .player.show .player-name span, .player.show .player-name {
    pointer-events: all;
    transform: translateX(0) !important;
    opacity: 1 !important;
}

.player.show .player-img { 
    rotate: 0deg !important; 
}

#players-playedTogether {
    margin-top: 10px;
    text-align: center;
    color: var(--color-foreground);
    overflow: hidden;
}

#players-playedTogether-div {
    transform: translateY(-100%);
    opacity: 0;
    display: inline-block;
    transition: transform 2s, opacity 2s;
}

#players-playedTogether-div.show { 
    transform: translateY(0);
    opacity: 1;
}

#players-playedTogether-count {
    /* color: var(--color-accent); */
    margin: 0.25em;
    font-weight: 700;
    font-size: 1.3em;
}

.hidden {
    display: none !important;
}

#games {
    width: 80%;
    max-width: 60em;
    min-width: 17.5em;
    margin: 0 auto;
}

#games-header-container {
    overflow-y: hidden;
}

#games-header {
    background-color: var(--color-foreground);
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    text-align: center;
    height: 20px;
    border-bottom: 1px solid;
    border-image: radial-gradient(rgb(150, 150, 150), var(--color-foreground)) 1;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 1s, opacity 1s;
    overflow: hidden;
}

#games-header.show { 
    transform: translateY(0); 
    opacity: 1;
}

#games-header > * {
    vertical-align: center;
    line-height: 20px;
    font-size: 0.7em;
    border-left: 1px solid rgb(209, 209, 209);
}

#games-header > *:first-child {border-left: none;}

#games-footer-container { 
    overflow-y: hidden; 
}

#games-footer {
    background-color: var(--color-foreground);
    text-align: center;
    height: fit-content;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 1s, opacity 1s;
}

#games-footer.show { 
    transform: translateY(0); 
    opacity: 1;
}

#games-checked {
    font-size: 0.7em;
    line-height: 20px;
}

.game {
    display: flex;
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid;
    border-image: radial-gradient(rgb(150, 150, 150), var(--color-foreground)) 1;
    height: 30px;
    opacity: 0;
    transition: opacity 1s;
}

.game.show {
    opacity: 1;
}

.game > * {
    text-align: center;
    line-height: 30px;
    border-left: 1px solid rgb(209, 209, 209);
    /* border-image: radial-gradient(rgb(150, 150, 150), var(--color-foreground)) 1; */
}

.game > *:first-child {border-left: none;}

[class*="game-"] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.game-legacy a {
    cursor: pointer;
}

#games-header-logo, #games-header-legacy, #games-header-link,
.game-logo, .game-legacy, .game-link {
    width: 100%;
}
#games-header-date, #games-header-team1, #games-header-team2, 
.game-date, .game-team1, .game-team2 {
    width: calc(700%/3);
}

.game-team1.won, .game-team2.won {
    background: linear-gradient(rgb(134, 238, 134), rgb(20, 161, 20));
}
.game-team1.lost, .game-team2.lost {
    background: linear-gradient(rgb(228, 100, 100), rgb(150, 35, 35));
}

.game-logo.coop {
    background: rgb(57,146,255);
    background: linear-gradient(90deg, rgba(57,146,255,1) 0%, rgba(1,212,255,0) 100%);
}
.game-logo.vs {
    background: rgb(255,167,57);
    background: linear-gradient(90deg, rgba(255,167,57,1) 0%, rgba(1,212,255,0) 100%);
}
.game-logo > img {
    height: 20px;
    margin: 5px;
}

@media (max-width: 600px) and (min-width: 500px) {
    .game-date, .game-legacy,
    #games-header-date, #games-header-legacy {
        display: none;
    }
}

@media (max-width: 500px) {
    .game-team1, .game-team2, .game-legacy,
    #games-header-team1, #games-header-team2, #games-header-legacy {
        display: none;
    }
}